.game-main {
    text-align: center;
}

.board {
    display: inline-block;
    border: 1px solid darkgrey;
    background-color: #FEFFDB;
}

.board .row .tile {
    float: left;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.board .row .tile:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 10%;
}

.board .row .tile.empty:after {
    border: 1px solid #777777;
    background: white;
}

.board .row .tile.filled:after {
    cursor: pointer;
    border: 1px solid #777777;
    background: #6db3f2; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #6db3f2 0%, #54a3ee 61%, #54a3ee 61%, #54a3ee 62%, #3690f0 63%, #3690f0 63%, #1e69de 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#6db3f2), color-stop(61%,#54a3ee), color-stop(61%,#54a3ee), color-stop(62%,#54a3ee), color-stop(63%,#3690f0), color-stop(63%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #6db3f2 0%,#54a3ee 61%,#54a3ee 61%,#54a3ee 62%,#3690f0 63%,#3690f0 63%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #6db3f2 0%,#54a3ee 61%,#54a3ee 61%,#54a3ee 62%,#3690f0 63%,#3690f0 63%,#1e69de 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #6db3f2 0%,#54a3ee 61%,#54a3ee 61%,#54a3ee 62%,#3690f0 63%,#3690f0 63%,#1e69de 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #6db3f2 0%,#54a3ee 61%,#54a3ee 61%,#54a3ee 62%,#3690f0 63%,#3690f0 63%,#1e69de 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.board .row .tile.filled.selected:hover:after,
.board .row .tile.filled.selected:after {
    border-color: #AAAAAA;
    background: #6db3f2;
}

.board .row .tile.filled:hover:after {
    border-color: #AAAAAA;
}

/******* Utilities *******/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}
